body {
  margin:0 auto;
  width:800px;
  min-height:100vh;
  display: flex;
  flex-direction:column;
  
}

header {
  height:150px;
}

div {
  /* height: 300px; */
  display: flex;
  flex:1;
}

nav {
  /* flex:1; */
  width:150px;
}

main { 
  flex:2;
  
}

aside{
  /* width: 120px;flex:1; */
  width:200px;
}

footer {
  height:200px;
}

@media screen and (max-width:900px){
  body{
    width: 100%;
  }
}